Repository mwootendev/ngx-translate-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng lint ngx-translate-testing --fix, ng lint testing --fix

Work in progress on testing the TranslateTestingModule.
  projects/testing/src/lib/testing.module.spec.ts
  projects/testing/src/lib/testing.module.ts
  projects/testing/src/public_api.ts
Due: prettier --write, ng lint testing --fix

Updating application to use TranslateTestModule.
  .lintstagedrc
  package.json
  projects/testing/src/lib/test-translate-loader.service.ts
  projects/testing/src/lib/testing.module.ts
  projects/testing/src/lib/translations.model.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-testing --fix, ng lint testing --fix

Added methods for setting default language and compiler.
  package.json
  projects/testing/README.md
  projects/testing/src/lib/testing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-testing --fix, ng lint testing --fix

Added test cases for withDefaultLanguage().
  projects/testing/src/lib/testing.module.spec.ts
Due: prettier --write, ng lint testing --fix

Renaming project to ngx-translate-plugins
  .lintstagedrc
  README.md
  angular.json
  package.json
  projects/testing/package.json
  src/app/app.component.html
  src/index.html
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Updated testing module test cases for full code coverage.
  package.json
  projects/testing/src/lib/testing.module.spec.ts
Due: prettier --write, ng lint testing --fix

Updated README.md for @ngx-translate/testing module
  package.json
  projects/testing/README.md
  projects/testing/package.json
Due: none

Adding README.md for demo application.
  README.md
  package.json
Due: none

Renamed to remove scoped package.
  README.md
  projects/testing/README.md
  projects/testing/package.json
  src/app/app.component.spec.ts
  tsconfig.json
Due: prettier --write, ng lint ngx-translate-testing --fix

WIP on new localization plugins.
  angular.json
  package.json
  projects/l10n/karma.conf.js
  projects/l10n/ng-package.json
  projects/l10n/ng-package.prod.json
  projects/l10n/package.json
  projects/l10n/src/lib/l10n.module.ts
  projects/l10n/src/lib/localized-missing-translation-handler.service.spec.ts
  projects/l10n/src/lib/localized-missing-translation-handler.service.ts
  projects/l10n/src/lib/utilities.ts
  projects/l10n/src/public_api.ts
  projects/l10n/src/test.ts
  projects/l10n/tsconfig.lib.json
  projects/l10n/tsconfig.spec.json
  projects/l10n/tslint.json
  tsconfig.json
Due: prettier --write

Implemented fallback loader.
  projects/l10n/src/lib/l10n.module.ts
  projects/l10n/src/lib/localized-fallback-translate-loader.service.spec.ts
  projects/l10n/src/lib/localized-fallback-translate-loader.service.ts
  projects/l10n/src/lib/localized-missing-translation-handler.service.ts
  projects/l10n/src/public_api.ts
Due: prettier --write

Update README.md
  projects/testing/README.md
Due: none

l10n - Adding unit tests for utilities and LocalizedFallbackTranslateLoader
  projects/l10n/src/lib/localized-fallback-translate-loader.service.spec.ts
  projects/l10n/src/lib/localized-fallback-translate-loader.service.ts
  projects/l10n/src/lib/utilities.spec.ts
  projects/l10n/src/lib/utilities.ts
Due: prettier --write

l10n - Implemented localized fallback loader.
  package.json
  projects/l10n/src/lib/localized-fallback-translate-loader.service.ts
  projects/l10n/src/lib/utilities.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/assets/i18n/en-ca.json
  src/assets/i18n/en_AU.json
  src/assets/i18n/en_GB.json
Due: prettier --write, ng lint ngx-translate-testing --fix

l10n - Started work on localized missing translation handler.
  package.json
  projects/l10n/src/lib/localized-fallback-translate-loader.service.ts
  projects/l10n/src/lib/localized-missing-translation-handler.service.spec.ts
  projects/l10n/src/lib/localized-missing-translation-handler.service.ts
Due: prettier --write

1 - Updated packages for Angular 7.
  package.json
  projects/testing/README.md
  projects/testing/package.json
  projects/testing/src/lib/testing.module.ts
  yarn.lock
Due: prettier --write, ng lint testing --fix

1 - Updated repository URL.
  projects/testing/package.json
Due: none

fixed header typo
  projects/testing/README.md
Due: none

readme: Added usage for TranslateService
  projects/testing/README.md
Due: none

Update module to support angular 8
  .lintstagedrc
  browserslist
  e2e/src/app.e2e-spec.ts
  package-lock.json
  package.json
  projects/testing/README.md
  projects/testing/package.json
  src/polyfills.ts
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.json
  tslint.json
Due: prettier --write, ng lint ngx-translate-testing --fix

Update module to support angular 8
  .lintstagedrc
Due: none

RELEASE - 3.0.0 Angular 8 upgrade.
  projects/testing/README.md
  yarn.lock
Due: none

L10N - Adding language switcher. Looking into issues with MissingTranslationHandler.
  angular.json
  package.json
  projects/l10n/src/lib/localized-missing-translation-handler.service.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/language-switcher.component.css
  src/app/language-switcher.component.html
  src/app/language-switcher.component.spec.ts
  src/app/language-switcher.component.ts
  src/assets/i18n/fr-FR.json
  src/assets/i18n/fr.json
  src/assets/i18n/fr_CA.json
Due: prettier --write, ng lint ngx-translate-testing --fix

WIP on new missing-translations project.
  .lintstagedrc
  angular.json
  projects/missing-translations/karma.conf.js
  projects/missing-translations/ng-package.json
  projects/missing-translations/ng-package.prod.json
  projects/missing-translations/package.json
  projects/missing-translations/src/lib/alternate-language-missing-translation-handler.service.ts
  projects/missing-translations/src/lib/browser-culture-language-missing-translation-handler.service.ts
  projects/missing-translations/src/lib/browser-language-missing-translation-handler.service.ts
  projects/missing-translations/src/lib/default-language-missing-translation-handler.service.ts
  projects/missing-translations/src/lib/failover-missing-translation-handler.service.ts
  projects/missing-translations/src/lib/language-missing-translation-handler.service.ts
  projects/missing-translations/src/lib/missing-translations.module.ts
  projects/missing-translations/src/public_api.ts
  projects/missing-translations/src/test.ts
  projects/missing-translations/tsconfig.lib.json
  projects/missing-translations/tsconfig.spec.json
  projects/missing-translations/tslint.json
Due: prettier --write

WIP - Observable translations not working.
  package.json
  projects/missing-translations/src/public_api.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/language-switcher.component.css
  src/app/language-switcher.component.html
  src/app/language-switcher.component.spec.ts
  src/app/language-switcher.component.ts
  src/assets/i18n/en-ca.json
  src/assets/i18n/en_AU.json
  src/assets/i18n/en_GB.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/fr.json
  src/assets/i18n/fr_CA.json
  tsconfig.json
Due: prettier --write, ng lint ngx-translate-testing --fix

Add gitpod config
  .gitpod.yml
  README.md
Due: none

Testing additional Gitpod config.
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

Upgrading to Angular 9 and @ngx-testing/core 12.
  .gitignore
  .lintstagedrc
  angular.json
  package-lock.json
  package.json
  projects/testing/package.json
  projects/testing/src/lib/testing.module.ts
  yarn.lock
Due: prettier --write, ng lint testing --fix

Updated with support for running unit tests in headless Chrome.
  angular.json
  package.json
  projects/testing/karma.conf.js
  src/karma.conf.js
Due: none

Upgrading additional libraries.
  tsconfig.json
  yarn.lock
Due: none

Updated README with versions.
  projects/testing/README.md
Due: none

v4.0.0
  projects/testing/package.json
Due: none

Removing Ivy from library compilation.
  projects/testing/tsconfig.lib.json
Due: none

Added generic type argument required by Angular 10
  projects/testing/src/lib/testing.module.ts
Due: prettier --write, ng lint testing --fix

Upgraded to Angular 10 and bumped ng-translate-testing to 5.0 with Angular 10 dependencies.
  .browserslistrc
  e2e/tsconfig.e2e.json
  package.json
  projects/testing/README.md
  projects/testing/package.json
  projects/testing/src/lib/testing.module.ts
  projects/testing/tsconfig.lib.json
  projects/testing/tsconfig.spec.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, ng lint testing --fix

chore: Add VS Code and devcontainer workspace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  ngx-translate-plugins.code-workspace
Due: none

RELEASE - 5.1.0
  .lintstagedrc
  .lintstagedrc.js
  angular.json
  e2e/tsconfig.e2e.json
  package.json
  projects/testing/README.md
  projects/testing/package.json
  projects/testing/src/lib/test-translate-loader.service.spec.ts
  projects/testing/src/lib/testing.module.spec.ts
  projects/testing/tsconfig.lib.json
  projects/testing/tsconfig.spec.json
  src/app/app.component.spec.ts
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, ng lint ngx-translate-testing --fix, ng lint testing --fix

Upgrade Angular 12
  package.json
  yarn.lock
Due: none

Upgrade Angular 12 : Readme & Peer dependencies
  projects/testing/README.md
  projects/testing/package.json
Due: none

Path conditions:
  prettier --write: any of: *.ts
  ng lint ngx-translate-testing --fix: any of: src/**/*.ts
  ng lint testing --fix: any of: projects/testing/src/**/*.ts
